/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
    Логотип
 */
h1 {
	color: #001f7c;
	font-size: 50px;
    left: 50px;
    line-height: 40px;
    margin-bottom: 25px;
	position: absolute;
	top: 75px;
	width: 100%;
}
.image {
	float: left;
    position: relative;
    width: 292px;
}

/*
    Сітка
 */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 960px;
}

/*
   Clearfix
*/
.group::before,
.group::after {
    content: "";
    display: table;
}
.group::after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}

/*
    Навігація
 */
.navigation ul {
	float: right;
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 45px 0px 30px 30px;
}
.navigation li {
    display: inline-block;
}
.navigation a {
    background: #217153;
    color: #fff;
    font-size: 15px;
    padding: 12px 20px;
    text-decoration: none;
}
.navigation a:hover {
    color: #61d293;
    text-decoration: none;
}

/*
    Поточні дані
 */
.info {
    float: right;
    margin: 50px 0 0 0;
	width: 150px;
}
.unit {
	color: #2d5978;
	font-size: 11px;
}
.slot {
	font-size: 12px;
	height: 50px;
	text-align: center;
	width: 60%;
}
.temp img {	
	width: 60px;
}
.size {
	font-size: 60px;
}


/*
    Пошук
 */
.form {
    margin: 200px 0 10px 0;
    text-align: left;
}
.cityName {
    float: left;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: normal;
    padding: 40px 5px 20px 5px;
}

/*
    Таблиця
 */
.head {
	text-align: left;
}
.list {
	font-size: 20px;
	height: 330px;
	margin-top: 30px;
	text-align: right;
	width: 100%;
}
 
 /*
    Тіло
 */
article {
    background: -webkit-linear-gradient(to right, #b4ffbd, #33ff87);
    background: -moz-linear-gradient(to right, #b4ffbd, #33ff87);
    background: linear-gradient(to right, #b4ffbd, #16bf60);
}

/*
    Футер
 */
footer {
    padding-top: 100px;
    text-align: center;
}

/*
   Типографіка
*/
h1, h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul, tr {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}