/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Хедер
 */
h1 {
    float: left;
	 color: #001f7c !important;
	 font-size: 50px !important;
    line-height: 40px;
    margin-bottom: 25px;
	 position: relative;
}
.size {
    font-size: 50px;
}
.temp {
	margin-top: -30px;
}
.temp img {	
	width: 60px;
	margin-top: -60px;
}
.unit {
	color: #2d5978;
	font-size: 11px;
}
.slot {
	font-size: 12px;
	height: 50px;
	text-align: center;
	width: 60%;
}
.card-header {
	background-color: rgba(198, 198, 198, 0.49) !important;
}

/*
  Навігація
*/
a.active {
    color: #28a745 !important;
    background-color:  rgba(198, 198, 198, 0.49) !important;
}
a {
	color: #2d2d2d !important;
	border-bottom: 1px solid  rgba(198, 198, 198, 0.49) !important;
}
.nav-tabs {
    border-bottom: none !important;
}

/*
   Тіло
*/
.card-body {
  background-color:  rgba(198, 198, 198, 0.49) !important;
}
.mynav {
	padding-top: 40px;
}
h5 {
    float: left;
	padding-top: 50px;
}
th, td {
    color: #000;
	text-align: center;
}
.noborder {
    border-top: none !important;
}

/*
   Футер
*/
footer {
	padding-top: 80px;
	height: 80px !important;
}
.rights {
	padding-top: 30px;
}
.card-footer {
	background-color:  rgba(198, 198, 198, 0.49) !important;
}

/*
   Background
*/
body {
    background: url("../images/new_zealand.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
