/*
  Tipographia
*/
p {
    font-size: 1.3em;
}
h2{
    font-family: Georgia, serif;
    font-weight: 600;
}


/*
  Forms
*/
input {
    margin: 5px !important;
}


/*
  Buttons
*/
.btn {
    cursor: pointer !important;
}


/*
  Footer
*/
footer{
    background-color: #5a6268;
    border-radius: 5px 5px 0 0;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
}
.glyphicon {
    font-size: 40px !important;
    color: #000000;
}
.glyphicon:hover {
    color: #a6a6a6;
}


/*
  Body
*/
body {
    background-color: #a6a6a6 !important;
}
.skills {
    margin-top: 60px;
}
#tab1 {
    position: absolute;
    top: 40%;
    right: 44%;
}
#tab2 {
    position: absolute;
    top: 25%;
    right: 30%;
}
#tab3 {
    position: absolute;
    top: 25%;
    right: 21%;
}
#tab4 {
    position: absolute;
    top: 25%;
    right: 20%;
}
.space {
    padding-top: 50px;
}



/*
   Images
*/
.image1 {
    width: 300px;
    height: 100%;
}
.image img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.image img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}


/*
  Navigation
*/
.nav-link.active,
.nav-item.show {
    color: #d9d9d9 !important;
}
.nav-link {
    font-weight: 600;
    color: #000 !important;
}
a:hover {
    color: #a6a6a6 !important;
}


/*
  Header
*/
header {
    background-color: #5a6268;
}


/*
  Google map
*/
iframe {
    width: 400px;
    height: 300px;
    border-style: none;
}
